/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

main {
    min-height: 85vh;
}

.footer a{
  text-decoration: none;
   align-content: left;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}
.footer {
   width: 100%;
   background-color:  whitesmoke;
   text-align: left;
}
.footer li{
  list-style: none;
  float: left;
  padding: 20px;
}
.footer a:hover {
  position: relative;
  color: #48CAE4;
}