/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}
.logo {
    position: relative;
    width: 100px;
    top: -30px;
}

.header a:hover {
    position: relative;
    padding: 20px;
    top: 20px;
    color: #48CAE4;
}

.circle {
    border-radius: 50%;
    border: solid black 2px;
    width: 50px;
    object-position: 0px 5px;
}

.pfp {
    float: right;
}

.header {
    position: relative;
    overflow: hidden;
    padding: 20px 10px;
    height: 29px;
    border-bottom: 2px solid black;
    /* left: -10px; */
    
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

  .header-left {
      float: left;
  }
  
  .header-right {
    float: right;
  }
  
 
  @media screen and (max-width: 500px) {
    .header-left {
        display: none;
    }
  }