/*body tag temporary*/ 
body{
  font-family:Arial, Helvetica, sans-serif;
}

#box1 {
  display: flex;
  margin-top: 5%;
  max-width: 70%;
  max-height: 70%;
  border: solid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

#buttons{
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  padding: 2vw;
}

 button{
   border: none;
   text-align: center;
   height: auto;
   padding: 15px 32px;
   border-radius: 10px;
 }

#pfp {
  display: flex;
  margin-top: -10vw;
  height: 10vw;
  width: 10vw;
}

#pfp:hover {
  background-image: url('./img/ChangePFP');
  margin-top: -10vw;
  height: 10vw;
  width: 10vw;
}
 
#dubb{
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5vw;
}


