/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
html {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
}
/* Header */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    color: black;
    font-family: "Poppins", sans-serif;
  }
  
  header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: whitesmoke;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  #brand img {
    font-weight: bold;
    width: 80px;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  
  #brand a {
    color: #09c372;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: black;
  }
  ul a:hover{
    color:  #48CAE4;
  }
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  .circle {
    position: relative;
    border-radius: 50%;
    border: solid black 1px;
    width: 5vh;
    object-position: 0px 5px;
    right: -5px;
  }
  #user li {
    text-decoration: none;
    list-style: none;
    float: right;
  }
  #user {
    position: relative;
    right: 200px;
    float: left;
  
  }
  #login a {
    color: #498afb;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (min-width: 100px) and (max-width: 999px){
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
    #brand img {
      font-weight: bold;
      width: 200px;
      display: flex;
      align-items: center;
    }
    header {
      padding: 0 20px;
      background-color: whitesmoke;
      height: 130px;
      display: flex;
      justify-content: space-between;
    }
    .mobile-menu {
      display: none;
      position: absolute;
      top: 150px;
      left: 0;
      height: calc(100vh - 50px);
      width: 100%;
      font-size: 50px;
    }
  
  }
  

/* Footer */
.footer a{
    text-decoration: none;
     align-content: left;
      color: black;
      font-family: 'Noto Sans', sans-serif;
}
.footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color:  whitesmoke;
     text-align: left;
}
.footer li{
    list-style: none;
    float: left;
    padding: 20px;
}
.footer a:hover {
    position: relative;
    color: #48CAE4;
}
